streamlit==x.y.z
gspread==x.y.z
google-auth==x.y.z
google-auth-oauthlib==x.y.z
google-auth-httplib2==x.y.z
google-api-python-client==x.y.z
selenium==x.y.z
webdriver-manager==x.y.z
schedule==x.y.z

